<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <main>
            <h1><%= title %></h1>
            <form method="GET" action="/new">
                <div class="btn-container">
                    <button type="submit">New Message</button>
                </div>
            </form>
            <div class="board-wrapper">
                <% messages.map(message => { %>
                <div class="message-wrapper">
                    <div class="name-date-wrapper">
                        <p class="name"><%=message.user%></p>
                        <p class="date"><%=message.createdAt%></p>
                    </div>
                    <div class="text-wrapper">
                        <p class="text"><%=message.text%></p>
                    </div>
                </div>
                <% }) %>
            </div>
        </main>
    </body>
</html>
